/* for fish nav */
.fish-nav{
    width:100%;
    height:60px;
    background: url(../img/index/navbg.png) repeat-x 0 0;
    position: fixed;
    z-index: 1000;
}
.fish-nav .fish-nav-content{
    width:1000px;
    height:60px;
    margin:0 auto;
}
.fish-nav .fish-nav-content .logo{
    float: left;
    width:90px;
    box-shadow:5px 5px 20px #8e8c89;
}
.fish-nav .fish-nav-content img{
    width:100%;
}
.fish-nav .fish-nav-content ul{
    float: left;
    margin-left: 145px;
    height:60px;
}
.fish-nav .fish-nav-content ul li{
    float: left;
}
.fish-nav .fish-nav-content ul li a{
    float: left;
    width:98px;
    height:60px;
    line-height: 60px;
    display: inline-block;
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-right: 38px;
}
.fish-nav .fish-nav-content ul li.current-nav a,
.fish-nav .fish-nav-content ul li a:hover{
    background: url(../img/index/nav-a-hover.png) no-repeat 0 0 ;
    color: #fff;
}
.fish-nav .fish-nav-content .user-nav{
    float: right;
    width:218px;
    height:60px;
}
.fish-nav .fish-nav-content .user-nav a{
    width:36px;
    height:60px;
    font-size: 12px;
    display: inline-block;
    line-height: 60px;
}
.fish-nav .fish-nav-content .user-nav a img{
    width:100%;
}
.fish-nav .fish-nav-content .user-nav .user-nav-in{
    width:90px;
    padding-top:8px;
    height:52px;
    float: right;
}
.fish-nav .fish-nav-content .user-nav .user-nav-in a{
    color: #9f9fa0;
}
.fish-nav .fish-nav-content .user-nav .user-nav-in a:hover{
    color: #f6a639;
}
.navLogin{
    float: right;
    height:60px;
}
.navLogin .userHead{
    float: left;
    width:45px;
    height:45px;
    margin-top:4px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.navLogin .userHead img{
    width:100%;
}
.navLogin .username{
    float: left;
    height:60px;
    line-height: 60px;
    font-size:14px;
    color: #66605e;
    padding-left:18px;
    padding-right:18px;
    cursor: pointer;
}
.navLogin .quitLogin{
    float: left;
    width:75px;
    height:24px;
    background: url(../img/personal/quitLogin.png) no-repeat 0 0 ;
    margin-top:19px;
    font-size:14px;
    color: #c67234;
    padding-left:8px;
    cursor: pointer;
}
.fish-nav li{
  list-style: none;
}
.fish-nav a{
  text-decoration: none;
}

em{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}

.isLogin{
    display: none;
}
